<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Privacy policy for marcoslooten.com" />
    <link rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />

<link rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" />

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
      media="print" onload="this.media='all'" />

<noscript>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" />
</noscript>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
    <link rel="manifest" href="/assets/site.webmanifest" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="canonical" href="https://marcoslooten.com/" />
    <title>Marco Slooten | About</title>
  </head>
  <body class="flex flex-col">
    {% include 'header.njk' %}

    <div class="container mx-auto max-w-4xl p-4">
      <h1
        class="text-3xl md:text-4xl lg:text-5xl bg-indigo-500 p-8 {% if cover_image %}-mt-16{% endif %} z-10 relative shadow-xl rounded-md"
        id="main-heading"
        >Privacy policy</h1
      >
    </div>
    <div class="container mx-auto max-w-3xl px-4 mb-12">
      
      <h3>Privacy policy</h3>

<p>At marcoslooten.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by marcoslooten.com and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in marcoslooten.com. This policy is not applicable to any information collected offline or via channels other than this website.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h2>Information we collect</h2>

<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
<p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>

<h2>How we use your information</h2>

<p>We use the information we collect in various ways, including to:</p>

<ul>
<li>Provide, operate, and maintain our website</li>
<li>Improve, personalize, and expand our website</li>
<li>Understand and analyze how you use our website</li>
<li>Develop new products, services, features, and functionality</li>
<li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
<li>Send you emails</li>
<li>Find and prevent fraud</li>
</ul>

<h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

<p>Under the CCPA, among other rights, California consumers have the right to:</p>
<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
<p>Request that a business delete any personal data about the consumer that a business has collected.</p>
<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h2>GDPR Data Protection Rights</h2>

<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h2>Cookies</h2>
<p>On our website we make use of cookies. A cookie is a simple text file which is attached to pages of this website and stored by your browser on your hard drive of your computer.</p>

<p>We use cookies to store your settings and preferences when you log in to our website. These cookies do not contain any personal details. You can switch off these cookies through your browser, however, this may affect the functioning of our website negatively.</p>

<h3>Analytics (tracking) cookies</h3>

<p>Furthermore, we use Google Analytics. This is a web based analytics service which is offered by Google Inc. (“Google”). Google Analytics uses “first-party cookies”. These cookies help in the analysis of how visitors use the website and cannot be read in other domains.</p>

<p>The information Google collects is rendered anonymous as much as possible. Any potentially identifiable personal information will not be made available, your IP address will not be made available either. The information that is rendered anonymous will be transferred to Google and stored on servers in the United States.</p>

<p>Google can pass on this information to third parties if Google is legally compelled to do so or in so far as third parties process the information on behalf of Google. We do not have any control over this.</p>

<p>You can collectively switch off Google Analytics cookies via the following link:
<a href="https://tools.google.com/dlpage/gaoptout" target="_blank" rel="nofollow noopener">https://tools.google.com/dlpage/gaoptout</a></p>

    </div>
    {% include 'footer.njk' %}
  </body>
</html>
