/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*='language-'],
pre[class*='language-'] {
  color: #abb2bf;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #383e49;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: #9aa2b1;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  overflow-x: scroll;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #282c34;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5c6370;
}

.token.punctuation {
  color: #abb2bf;
}

.token.selector,
.token.tag {
  color: #e06c75;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: #d19a66;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: #98c379;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #56b6c2;
}

.token.atrule,
.token.keyword {
  color: #c678dd;
}

.token.function {
  color: #61afef;
}

.token.regex,
.token.important,
.token.variable {
  color: #c678dd;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #5c6370;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

@tailwind base;

body {
  font-family: 'Open Sans', sans-serif;
  background: #f7fafc;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #2d3748;
  font-weight: 700;
  /* font-family: 'Nunito', sans-serif; */
}

h2,
h3,
h4,
h5 {
  margin-top: 2rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #4a5568;
}

h1 {
  font-size: 2.8rem;
  color: white;
  line-height: 1.2;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1rem;
}

a {
  color: #5a67d8;
  text-decoration: underline;
  transition: all 0.15s linear;
}

a:hover {
  color: #667eea;
  text-decoration: none;
}

ul li {
  list-style-type: disc;
  margin-bottom: 0.5rem;
  color: #4a5568;
}

ul {
  margin-bottom: 1rem;
  list-style-position: inside;
}

.pagination a {
  color: #718096;
}

.blog-item {
  list-style-type: none;
}

.blog-item a {
  text-decoration: none;
}

#header svg {
  fill: #a0aec0;
  transition: fill 0.15s linear;
}

#header svg:hover {
  fill: #667eea;
}

#header a {
  text-decoration: none;
  color: #7f9cf5;
}

#header a:hover {
  color: #667eea;
}

#header ul {
  margin: 0;
}

#header ul li {
  list-style-type: none;
  margin-bottom: 0;
}

#main-heading {
  background-color: #667eea;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a3bffa' fill-opacity='0.14'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#footer {
  color: #f7fafc;
  background-color: #5c5d62;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#me {
  background-color: #f7fafc;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23667eea' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

strong {
  color: #2d3748;
}

p > img {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

pre[class*='language-'] {
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

blockquote {
  border-left: 3px solid #a0aec0;
  padding-left: 1.5rem;
}

blockquote,
blockquote p {
  font-style: italic;
  color: #718096;
}

@media (min-width: 1024px) {
  pre[class*='language-'] {
    width: 54rem;
    margin-left: -4rem;
    max-width: 95vw;
  }
}

code {
  background-color: #edf2f7;
  border-radius: 3px;
  padding: 1px 3px;
  color: #2d3748;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

pre > code {
  background-color: initial;
  border-radius: none;
  padding: initial;
  color: initial;
  box-shadow: none;
}

@tailwind components;

@tailwind utilities;
