<div class="mt-auto">
  <div id="footer" class="p-8 mt-24 shadow-inner">
    <div class="container max-w-3xl px-4 mx-auto">
      <div class="text-center text-gray-100 -mt-16 rounded-md shadow-lg bg-gray-800 p-8 pb-4 mb-12">
        <h5 class="mt-0 font-bold text-indigo-400 text-xl">Want to keep up to date?</h5>
        <p class="text-gray-100 mb-8"
          >If you like what you read and you want to receive the occassional update when I publish something interesting, please sign up for
          my newsletter below.</p
        >
        <div class="text-left w-6/12 mx-auto">
          <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
            <p class="hidden">
              <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
            </p>
            <p>
              <label class="flex flex-row text-gray-100"
                >First name: <input type="text" name="name" class="text-gray-700 ml-auto w-8/12 rounded-sm p-1"
              /></label>
            </p>
            <p>
              <label class="flex flex-row text-gray-100"
                >Email: <input type="email" name="email" required class="text-gray-700 ml-auto w-8/12 rounded-sm p-1"
              /></label>
            </p>
            <p
              ><label class="text-gray-100"><input type="checkbox" name="consent" required /> I want to receive email updates</label> </p
            ><p>
              <button type="submit" class="bg-indigo-500 text-gray-100 px-8 py-2 rounded-md w-full">Subscribe</button>
            </p>
          </form>
        </div>
        <p class="text-gray-500 mt-8 text-sm">
          I will not spam and I will only use your name and email address to send these mails. Email open tracking (the dreaded spy pixel)
          is disabled in the mail service I use (buttondown.email).</p
        >
      </div>
      <p class="text-center">
        <a href="/privacy/" class="text-gray-400 text-xs hover:text-gray-600">Privacy</a>
      </p>
      <p class="text-center text-sm text-gray-400"
        >Copyright &copy; 2019-<span id="year">{{ data.year }}</span></p
      ></div
    >
  </div>
</div>
<script src="/assets/instantpage.js" type="module" defer></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-20731045-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-20731045-1', { anonymize_ip: true });
</script>
