<div class="mt-auto">    
    <div id="footer" class="p-8 mt-16 shadow-inner">
      <div class="container max-w-3xl px-4 mx-auto"><p class="text-center text-sm text-gray-400 m-0">Copyright &copy; 2019-<span id="year">{{data.year}}</span></p></div>
    </div>
    </div>
    <script src="/assets/instantpage.js" type="module" defer></script>

