<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% if description %}{{description}}{% else %}Blog about {{title}}{% endif %}" />
        <link rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />

<link rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" />

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
      media="print" onload="this.media='all'" />

<noscript>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" />
</noscript>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="canonical" href="https://marcoslooten.com{{ page.url }}" />
    <title>{{ title }} - Marco Slooten</title>
  </head>
  <body class="flex flex-col flex-grow-0">
    {% include 'header.njk' %}
    {% if cover_image %}
    <div class="container mx-auto relative z-0 px-8">
      <img src="{{ cover_image }}" alt="{{ title }}" class="shadow-2xl lg:rounded-lg mx-auto" />
    </div>
    {% endif %}
    <div class="container mx-auto max-w-4xl p-4">
      <h1 class="text-3xl md:text-4xl lg:text-5xl bg-indigo-500 p-8 {% if cover_image %}-mt-16{% endif %} z-10 relative shadow-xl rounded-md" id="main-heading">{{ title }}</h1>
    </div>
    <div class="container mx-auto max-w-3xl px-4">  
 
        <p class="text-sm text-gray-500">Published on {{ page.date.toLocaleDateString() }}<br>  Permalink: <a href="https://marcoslooten.com{{ page.url }}">https://marcoslooten.com{{ page.url }}</a>
      
      {{ content | safe }}
    </div>

    </div>
    {% include 'footer.njk' %}


  </body>
</html>